<nav class="navbar navbar-expand-md">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
              <a class="navbar-brand" href="#home">
                  <span>WBC</span>
                  <img class="img-fluid" src="../../../../assets/images/world_bank-logo.png" alt="WBC Logo">
              </a>
          </div>
          <div class="col-sm-5 col-md-2 header_left_menu">
              <ul class="list-unstyled">
                  <li class="ifc_link"><a href="">IFC</a></li>
                  <li><a href="">MIGA</a></li>
                  <li><a href="">ICSID</a></li>
              </ul>
          </div>
          <div class="col-sm-1 d-sm-none">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="col-sm-12 col-md-7">

              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                      <li class="nav-item people">
                      <a class="nav-link" href="#">People</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="#">HR</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="#">Services</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="#">Organization & Leadership</a>
                      </li>
                  </ul>
                  <form action="" class="search-form">
                      <div class="form-group wb_search_box">
                          <label for="search" class="sr-only">Search</label>
                          <span class="form_control_wb_search_box"><i class="fa fa-search"></i></span>
                      </div>
                      <div id="search_box_blk" class="search_block hide_ele">
                          <input type="text" class="form-control" name="search" id="search" placeholder="search">
                      </div>
                  </form>
                  <div class="send_icon_block">
                          <i class="fa fa-rocket" aria-hidden="true"></i>
                  </div>
              </div>
          </div>
      </div>



  </div>
</nav>


